:root {
   --uib-size: 50px;
   --uib-speed: 1.2s;
   --uib-color: #fff;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: #00b8a9;
}

.pendulum {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: var(--uib-size);
   height: var(--uib-size);
}

.pendulum_dot {
   position: relative;
   display: flex;
   align-items: center;
   height: 100%;
   width: 25%;
   transform-origin: center top;
}

.pendulum_dot::after {
   content: '';
   display: block;
   width: 100%;
   height: 25%;
   border-radius: 50%;
   background-color: var(--uib-color);
}

.pendulum_dot:first-child {
   animation: swing var(--uib-speed) linear infinite;
}

.pendulum_dot:last-child {
   animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
   0% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
   }

   25% {
      transform: rotate(70deg);
      animation-timing-function: ease-in;
   }

   50% {
      transform: rotate(0deg);
      animation-timing-function: linear;
   }
}

@keyframes swing2 {
   0% {
      transform: rotate(0deg);
      animation-timing-function: linear;
   }

   50% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
   }

   75% {
      transform: rotate(-70deg);
      animation-timing-function: ease-in;
   }
}
