body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.button {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgb(20, 20, 20);
   border: none;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
   cursor: pointer;
   transition-duration: 0.3s;
   overflow: hidden;
   position: relative;
}

.svgIcon {
   width: 12px;
   transition-duration: 0.3s;
}

.svgIcon path {
   fill: white;
}

.button:hover {
   width: 140px;
   border-radius: 50px;
   transition-duration: 0.3s;
   background-color: rgb(181, 160, 255);
   align-items: center;
}

.button:hover .svgIcon {
   /* width: 20px; */
   transition-duration: 0.3s;
   transform: translateY(-200%);
}

.button::before {
   position: absolute;
   bottom: -20px;
   content: 'Scroll to Top';
   color: white;
   /* transition-duration: .3s; */
   font-size: 0px;
}

.button:hover::before {
   font-size: 13px;
   opacity: 1;
   bottom: unset;
   /* transform: translateY(-30px); */
   transition-duration: 0.3s;
}
